@media screen and (max-width: 1009px) {
    .logo-container {
        left: 40%;
    }
    .text-section {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 832px) {
    .logo-container {
        left: 10%;
    }
    .text-section {
        font-size: 2vw;
    }
    .skill-icons {
        font-size: 1.7vw;
    }
}