@media screen and (max-width: 1009px) {
    .logo-container {
        left: 40%;
    }
    .text-section {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 832px) {
    .logo-container {
        left: 10%;
    }
    .text-section {
        font-size: 2.2vw;
    }
    .skill-icons {
        font-size: 2vw;
    }
    .nav-icon {
        font-size: 2vw;
    }
        .paint {
        background-size: cover;
    }
        .name {
        font-size: 9vw;
    }
        .ml5 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 680px) {
    .logo-container {
        width: 50vw;
    }
    .logo-back {
        width: 50vw;
        background-size: contain;
        background-repeat: no-repeat;

    }
    
    .text-section {
        font-size: 4vw;
        width: 80%;
    }
    .skill-icons {
        font-size: 3.5vw;
    }
    
    .social-media-up {
        display: none;
    }
    
    .social-media-down {
    display: flex;
    position: absolute;
    bottom: -20px;
    transform: translate(-50%, -50%);
    left: 50%;
    }
    
    .social-media>a {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #about-me {
        height: 150vh;
    }
    
    .header-name {
        font-size: 8vw;
    }
    .name {
        font-size: 10vw;
    }
    .ml5 {
        font-size: 6vw;
    }
    .nav-icon {
    width: 45px;
    }
    .nav-item {
        font-size: 3.5vw;
    }
    .eng {
        right: 80px;
    }
    .break {
        height: 200px;
        background-attachment: inherit;
        background-size: 100%;
    }
    .CV {
    width: 40%;
    height: 70px;
    font-size: 3.8vw;
    line-height: 70px;
    }
    #slider {
        height: 60vw;
    }
    .cover-dark {
        opacity: 1;
    }
    .added {
    font-size: 4vw;
    width: 80%;
    margin: auto;
    position: relative;
    top: 20vw;
    color: white;
    }

    .slider-arrows div {
    top: 40vw;
    font-size: 40px;
    }
    #portfolio {
    height: 115vw;
    }
    .fa {
        color: #f7f7f7;
    }
    .slider-caption {
    top: 12vw;
        font-size: 8vw;
    }
    #contact {
        height: 200vh;
        background-attachment: inherit;
        background-size: contain;
    }
    
    #contact-cover {
        height: 200vh;
    }
    .input2 {
        margin-top: 20px;
    }
}