@media screen and (max-width: 1009px) {
    .logo-container {
        left: 40%;
    }
    .text-section {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 832px) {
    .logo-container {
        left: 10%;
    }
    .text-section {
        font-size: 2.2vw;
    }
    .skill-icons {
        font-size: 2vw;
    }
    .nav-icon {
        font-size: 2vw;
    }
}

@media screen and (max-width: 580px) {
    .logo-container {
        left: 10%;
            background-size: contain;
        width: 400px;
    }
    .logo-back {
        width: 400px;
        background-size: contain;
        background-repeat: no-repeat;

    }
    .text-section {
        font-size: 2.8vw;
    }
    .skill-icons {
        font-size: 3.5vw;
    }
    .header-name {
        font-size: 8vw;
    }
    .name {
        font-size: 8vw;
    }
    .ml5 {
        font-size: 5vw;
    }
    
    .social-icon {
    width: 80px;
    height: 80px;
    }
    
    .icon {
    width: 48px;
    height: 48px;
    }
    .eng {
    font-size: 40px;
    right: 130px;
    top: 15px;
    }
    .nav-icon {
    width: 75px;
    height: 60px;
    }
    .nav-item {
        font-size: 2.4vw;
    }
    #paint {
        right: 80px;
    }
    .break {
        background-attachment: inherit;
        height: 200px;
    }
    .CV {
    width: 40%;
    height: 70px;
    font-size: 3.8vw;
    line-height: 70px;
    }
    #slider {
        height: 60vw;
    }
    .slider-arrows div {
    font-size: 70px;
    }
    
}